In [1]:
import pandas as pd
import numpy as np

In [3]:
# Importing the dataset
file_path = 'P:\DATA_OCT_22\Expert_Eye\Dataset\Data\data_v5.xlsx'
df = pd.read_excel(file_path)
dataset = df.copy()
dataset.head()

,Foldername,Gender,VINCQ32DDN,VINICODEX003,FROPCOM0001,FROPCOM0005,FROPCOM0006[S1],FROPCOM0006[S2],FROPCOM0006[S3],FROPCOM0006[S4],...,romberg_EyesOpen_SwayDensity,romberg_EyesClosed_SwayDensity,romberg_EyesOpen_LateralVariance,romberg_EyesClosed_LateralVariance,romberg_EyesOpen_Score,romberg_EyesClosed_Score,BMI,Weight_Diff,Frailty_Score,Frailty_State
0,DUP002BME,0,76.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,...,29.84,29.880000,1.680999e-34,1.082434e-33,99.0,99.0,32.029086,-2.0,7,0
1,FRA001AMA,0,75.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,...,29.80,27.130802,1.338352e-03,1.246047e-02,98.0,88.0,28.906250,0.0,4,1
2,FRA002CTI,0,67.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,29.80,29.880000,6.738724e-04,7.077824e-03,99.0,81.0,39.033376,0.0,9,0
3,FRA003BMG,0,72.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,...,30.44,29.880000,2.395301e-03,1.533375e-03,99.0,99.0,25.236340,2.0,7,0
4,FRA004LHN,1,69.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,29.88,29.880000,2.942435e-03,2.505740e-03,99.0,99.0,22.460034,0.0,8,0

In [4]:
# merged
merged = pd.read_csv('P:/DATA_OCT_22/Stade_ 1_Merged_dataset/merged_data_20221004.csv')
merged.head()

,id,foldernumber,gender,lateralization,consultation id,date,height,weight,measured weight,fragility score,...,romberg WalkingQuality,romberg EverydayBalance,locomotion FootwearId,locomotion AverageSpeed,locomotion MeanStepDuration,locomotion SwingMeanStrideDuration,locomotion DoubleStance,locomotion CycleVariability,locomotion TrunkRoll,locomotion StablizationHelpId
0,1364,DUP002BME,F,B,2513,8/22/2022 08:10,152,74.0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1174,FRA001AMA,F,D,2077,3/31/2022 08:32,160,74.0,76.0,0,...,3.0,NaN,3.0,0.880744,0.564857,-0.053907,0.229752,0.197969,0.096065,0.0
2,1173,FRA002CTI,F,B,2067,3/29/2022 07:28,151,89.0,89.0,0,...,3.0,NaN,5.0,1.247801,0.500417,0.023122,0.254313,0.196011,0.387144,0.0
3,1192,FRA003BMG,F,D,2124,4/5/2022 06:48,158,63.0,69.1,0,...,3.0,NaN,5.0,0.942554,0.585556,-0.021565,0.208736,0.233782,0.100685,0.0
4,1193,FRA004LHN,M,D,2126,4/5/2022 08:03,174,68.0,71.5,0,...,3.0,NaN,3.0,1.123115,0.563333,-0.007276,0.257278,0.229497,0.143611,0.0

In [ ]:
list(merged.columns)

In [ ]:
# list of Foldername in dataset
foldername = list(dataset['Foldername'].unique())
foldername

In [ ]:
# grip columns
grip_df = merged[['foldernumber', 'grip_left_hand_V1','grip_left_hand_V2','grip_right_hand_V1', 'grip_right_hand_V2' ]]
grip_df.head(20)

In [20]:
grip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   foldernumber        104 non-null    object
 1   grip_left_hand_V1   46 non-null     float64
 2   grip_left_hand_V2   46 non-null     float64
 3   grip_right_hand_V1  46 non-null     float64
 4   grip_right_hand_V2  46 non-null     float64
dtypes: float64(4), object(1)
memory usage: 4.2+ KB

In [21]:
# rename foldernumber to Foldername
grip_df = grip_df.rename(columns={'foldernumber': 'Foldername'})
grip_df.head()

,Foldername,grip_left_hand_V1,grip_left_hand_V2,grip_right_hand_V1,grip_right_hand_V2
0,DUP002BME,NaN,NaN,NaN,NaN
1,FRA001AMA,20.3,21.5,14.0,19.3
2,FRA002CTI,23.2,19.9,22.5,19.1
3,FRA003BMG,17.7,15.2,14.9,17.4
4,FRA004LHN,32.6,35.0,38.3,40.0

In [24]:
# Take the greatest grip value between grip_left_hand_V1 and grip_left_hand_V2 and grip_right_hand_V1 and grip_right_hand_V2 and add it to the dataset into a new column called grip_left_hand and grip_right_hand
grip_df['grip_left_hand'] = grip_df[['grip_left_hand_V1','grip_left_hand_V2']].max(axis=1)
grip_df['grip_right_hand'] = grip_df[['grip_right_hand_V1','grip_right_hand_V2']].max(axis=1)
grip_df.head()

,Foldername,grip_left_hand_V1,grip_left_hand_V2,grip_right_hand_V1,grip_right_hand_V2,grip_left_hand,grip_right_hand
0,DUP002BME,NaN,NaN,NaN,NaN,NaN,NaN
1,FRA001AMA,20.3,21.5,14.0,19.3,21.5,19.3
2,FRA002CTI,23.2,19.9,22.5,19.1,23.2,22.5
3,FRA003BMG,17.7,15.2,14.9,17.4,17.7,17.4
4,FRA004LHN,32.6,35.0,38.3,40.0,35.0,40.0

In [25]:
# drop grip_left_hand_V1, grip_left_hand_V2, grip_right_hand_V1, grip_right_hand_V2
grip_df.drop(['grip_left_hand_V1','grip_left_hand_V2','grip_right_hand_V1', 'grip_right_hand_V2'], axis=1, inplace=True)
grip_df.head()

  Foldername  grip_left_hand  grip_right_hand
0  DUP002BME             NaN              NaN
1  FRA001AMA            21.5             19.3
2  FRA002CTI            23.2             22.5
3  FRA003BMG            17.7             17.4
4  FRA004LHN            35.0             40.0

In [26]:
# merge grip_df with dataset
dataset = pd.merge(dataset, grip_df, on='Foldername', how='left')
dataset.head()

,Foldername,Gender,VINCQ32DDN,VINICODEX003,FROPCOM0001,FROPCOM0005,FROPCOM0006[S1],FROPCOM0006[S2],FROPCOM0006[S3],FROPCOM0006[S4],...,grip left hand V1,grip left hand V2,grip right hand V1,grip right hand V2,grip_left_hand_V1,grip_left_hand_V2,grip_right_hand_V1,grip_right_hand_V2,grip_left_hand,grip_right_hand
0,DUP002BME,0,76.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FRA001AMA,0,75.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,20.3,21.5,14.0,19.3,21.5,19.3
2,FRA002CTI,0,67.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,23.2,19.9,22.5,19.1,23.2,22.5
3,FRA003BMG,0,72.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,17.7,15.2,14.9,17.4,17.7,17.4
4,FRA004LHN,1,69.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,32.6,35.0,38.3,40.0,35.0,40.0

In [5]:
# save to excel
dataset.to_excel('P:\DATA_OCT_22\Expert_Eye\Dataset\Data\data_v5_bis.xlsx', index=False)

AttributeError: module 'pandas' has no attribute 'to_excel'

In [7]:
dataset = pd.read_excel('P:\DATA_OCT_22\Expert_Eye\Dataset\Data\data_v10.xlsx')

In [8]:
#X = dataset.drop(['Frailty_State', 'Frailty_Score'], axis=1).values
y = dataset['Frailty_State'].values

In [9]:
# Calculating the value of scale_pos_weight = total_negative_examples / total_positive_examples
from collections import Counter
count = Counter(y)

estimate = count[0] / count[1]
print('Estimate: %.3f' % estimate)
print(count)

Estimate: 2.464
Counter({0: 69, 1: 28})

In [10]:
# Calculating the 'balanced' class weights parameter fpr RandomForestClassifier

n_samples = len(y)
n_classes = len(np.unique(y))
class_weights = n_samples / (n_classes * np.bincount(y))

class_weights

array([0.70289855, 1.73214286])

In [11]:
n_samples = len(y)
unique_classes, counts = np.unique(y, return_counts=True)
class_weight = {cls: n_samples / count for cls, count in zip(unique_classes, counts)}

class_weight

{0: 1.4057971014492754, 1: 3.4642857142857144}

In [6]:
data1 = pd.read_excel('P:\DATA_OCT_22\Expert_Eye\Dataset\Data\data_v1.xlsx')

In [7]:
# 7 last HADS columns in data1
data1_hads = data1[['Foldername', 'HADS008', 'HADS009', 'HADS010', 'HADS011', 'HADS012', 'HADS013', 'HADS014']]
data1_hads.head()

  Foldername  HADS008  HADS009  HADS010  HADS011  HADS012  HADS013  HADS014
0  DUP002BME      1.0      0.0      2.0      0.0      3.0      0.0      3.0
1  FRA001AMA      1.0      1.0      1.0      2.0      2.0      1.0      1.0
2  FRA002CTI      1.0      0.0      3.0      0.0      3.0      0.0      3.0
3  FRA003BMG      2.0      1.0      3.0      2.0      3.0      1.0      3.0
4  FRA004LHN      1.0      0.0      3.0      0.0      3.0      0.0      3.0

In [8]:
# Score of HADS, if NaN in all the 7 columns , then the score is Nan
data1_hads['HADS_D_Score'] = data1_hads[['HADS008', 'HADS009', 'HADS010', 'HADS011', 'HADS012', 'HADS013', 'HADS014']].sum(axis=1)
data1_hads.head(20)

C:\Users\matth\AppData\Local\Temp\ipykernel_12768\1586446674.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1_hads['HADS_D_Score'] = data1_hads[['HADS008', 'HADS009', 'HADS010', 'HADS011', 'HADS012', 'HADS013', 'HADS014']].sum(axis=1)

,Foldername,HADS008,HADS009,HADS010,HADS011,HADS012,HADS013,HADS014,HADS_D_Score
0,DUP002BME,1.0,0.0,2.0,0.0,3.0,0.0,3.0,9.0
1,FRA001AMA,1.0,1.0,1.0,2.0,2.0,1.0,1.0,9.0
2,FRA002CTI,1.0,0.0,3.0,0.0,3.0,0.0,3.0,10.0
3,FRA003BMG,2.0,1.0,3.0,2.0,3.0,1.0,3.0,15.0
4,FRA004LHN,1.0,0.0,3.0,0.0,3.0,0.0,3.0,10.0
5,FRA005GMS,1.0,2.0,3.0,1.0,2.0,1.0,3.0,13.0
6,FRA006PJA,1.0,1.0,3.0,3.0,3.0,2.0,3.0,16.0
7,FRA007TTM,1.0,1.0,3.0,2.0,3.0,2.0,3.0,15.0
8,FRA008TJL,1.0,0.0,3.0,2.0,3.0,2.0,3.0,14.0
9,FRA009RMI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10,FRA010DMA,1.0,3.0,3.0,2.0,2.0,2.0,1.0,14.0
11,FRA011VJR,0.0,0.0,3.0,0.0,3.0,1.0,2.0,9.0
12,FRA012BJN,2.0,2.0,1.0,2.0,3.0,2.0,2.0,14.0
13,FRA013PMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14,FRA014GJ,1.0,1.0,1.0,3.0,1.0,1.0,3.0,11.0
15,FRA015FMJ,1.0,1.0,3.0,0.0,3.0,1.0,3.0,12.0
16,FRA016GJ,3.0,0.0,3.0,2.0,2.0,1.0,2.0,13.0
17,FRA018ACV,1.0,0.0,3.0,3.0,3.0,0.0,2.0,12.0
18,FRA019AMA,0.0,0.0,1.0,0.0,3.0,0.0,2.0,6.0
19,FRA020THJ,1.0,1.0,3.0,3.0,3.0,1.0,3.0,15.0

In [9]:
# Drop all the columns except Foldername and HADS_D_Score
data1_hads.drop(['HADS008', 'HADS009', 'HADS010', 'HADS011', 'HADS012', 'HADS013', 'HADS014'], axis=1, inplace=True)
data1_hads.head()

C:\Users\matth\AppData\Local\Temp\ipykernel_12768\1492952509.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1_hads.drop(['HADS008', 'HADS009', 'HADS010', 'HADS011', 'HADS012', 'HADS013', 'HADS014'], axis=1, inplace=True)

  Foldername  HADS_D_Score
0  DUP002BME           9.0
1  FRA001AMA           9.0
2  FRA002CTI          10.0
3  FRA003BMG          15.0
4  FRA004LHN          10.0

## Items

In [2]:
import pandas as pd
import numpy as np
data8 = pd.read_excel('P:\DATA_OCT_22\Expert_Eye\Dataset\Data\data_v11.xlsx')
data8.head()

,Foldername,Gender,VINCQ32DDN,VINICODEX003,FROPCOM0001,FROPCOM0005,FROPCOM0006_S1_,FROPCOM0006_S2_,FROPCOM0006_S3_,FROPCOM0006_S4_,...,Item_1,Item_2,Item_3,Item_4,Item_5,grip,Frailty_Score,Frailty_State,Fried_Score,Fried_State
0,DUP002BME,0,76.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,...,0.0,1,1.0,1.0,NaN,NaN,5,1,NaN,NaN
1,FRA001AMA,0,75.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0,1.0,1.0,1.0,21.5,4,1,3.0,1.0
2,FRA002CTI,0,67.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,1.0,1.0,23.2,9,0,2.0,0.0
3,FRA003BMG,0,72.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,...,0.0,1,0.0,0.0,1.0,17.7,7,0,2.0,0.0
4,FRA004LHN,1,69.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,1.0,40.0,8,0,1.0,0.0

In [11]:
# merge data8 with data1_hads
data8 = pd.merge(data8, data1_hads, on='Foldername', how='left')
data8.head()

,Foldername,Gender,VINCQ32DDN,VINICODEX003,FROPCOM0001,FROPCOM0005,FROPCOM0006_S1_,FROPCOM0006_S2_,FROPCOM0006_S3_,FROPCOM0006_S4_,...,FROPCOM0004_SQ010_SQ003__0_5_0_0,FROPCOM0004_SQ010_SQ003__1_0_0,FROPCOM0004_SQ010_SQ003__1_0_1,FROPCOM0004_SQ010_SQ003__10_0_0,FROPCOM0004_SQ010_SQ003__nan,Frailty_Score,Frailty_State,grip_left_hand,grip_right_hand,HADS_D_Score
0,DUP002BME,0,76.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,...,0,0,0,0,1,7,0,NaN,NaN,9.0
1,FRA001AMA,0,75.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,4,1,21.5,19.3,9.0
2,FRA002CTI,0,67.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,9,0,23.2,22.5,10.0
3,FRA003BMG,0,72.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,...,0,0,0,0,1,7,0,17.7,17.4,15.0
4,FRA004LHN,1,69.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,8,0,35.0,40.0,10.0

In [10]:
# Create a grip column in data8 = max(grip_left_hand, grip_right_hand)
data8['grip'] = data8[['grip_left_hand', 'grip_right_hand']].max(axis=1)
data8.head()

,Foldername,Gender,VINCQ32DDN,VINICODEX003,FROPCOM0001,FROPCOM0005,FROPCOM0006_S1_,FROPCOM0006_S2_,FROPCOM0006_S3_,FROPCOM0006_S4_,...,Item_1,Item_2,Item_3,Item_4,Item_5,Fried_Score,Fried_State,grip_left_hand,grip_right_hand,grip
0,DUP002BME,0,76.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,...,0.0,0,1.0,1.0,NaN,2,0,NaN,NaN,NaN
1,FRA001AMA,0,75.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0,1.0,1.0,1.0,3,1,21.5,19.3,21.5
2,FRA002CTI,0,67.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,1.0,1.0,2,0,23.2,22.5,23.2
3,FRA003BMG,0,72.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,...,0.0,1,0.0,0.0,1.0,2,0,17.7,17.4,17.7
4,FRA004LHN,1,69.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,1.0,1,0,35.0,40.0,40.0

In [11]:
# drop grip_left_hand and grip_right_hand
data8.drop(['grip_left_hand', 'grip_right_hand'], axis=1, inplace=True)
data8.head()

,Foldername,Gender,VINCQ32DDN,VINICODEX003,FROPCOM0001,FROPCOM0005,FROPCOM0006_S1_,FROPCOM0006_S2_,FROPCOM0006_S3_,FROPCOM0006_S4_,...,HADS_D_Score,walk_time_4m,Item_1,Item_2,Item_3,Item_4,Item_5,Fried_Score,Fried_State,grip
0,DUP002BME,0,76.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,...,9,8.45,0.0,0,1.0,1.0,NaN,2,0,NaN
1,FRA001AMA,0,75.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,...,9,6.11,0.0,0,1.0,1.0,1.0,3,1,21.5
2,FRA002CTI,0,67.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,10,20.00,0.0,0,0.0,1.0,1.0,2,0,23.2
3,FRA003BMG,0,72.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,...,15,4.87,0.0,1,0.0,0.0,1.0,2,0,17.7
4,FRA004LHN,1,69.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10,3.48,0.0,0,0.0,0.0,1.0,1,0,40.0

In [15]:
# create walking_speed_4m column in data8 = max(SPPB06, SPPB07)
data8['walk_time_4m'] = data8[['SPPB06', 'SPPB7']].max(axis=1)
data8.head()

,Foldername,Gender,VINCQ32DDN,VINICODEX003,FROPCOM0001,FROPCOM0005,FROPCOM0006_S1_,FROPCOM0006_S2_,FROPCOM0006_S3_,FROPCOM0006_S4_,...,FROPCOM0004_SQ010_SQ003__0_5_0_0,FROPCOM0004_SQ010_SQ003__1_0_0,FROPCOM0004_SQ010_SQ003__1_0_1,FROPCOM0004_SQ010_SQ003__10_0_0,FROPCOM0004_SQ010_SQ003__nan,Frailty_Score,Frailty_State,HADS_D_Score,grip,walk_time_4m
0,DUP002BME,0,76.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,...,0,0,0,0,1,7,0,9.0,NaN,8.45
1,FRA001AMA,0,75.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,4,1,9.0,21.5,6.11
2,FRA002CTI,0,67.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,9,0,10.0,23.2,20.00
3,FRA003BMG,0,72.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,...,0,0,0,0,1,7,0,15.0,17.7,4.87
4,FRA004LHN,1,69.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,8,0,10.0,40.0,3.48

In [16]:
# drop SPPB06 and SPPB07
data8.drop(['SPPB06', 'SPPB7'], axis=1, inplace=True)

In [4]:
#drop the column Weight_Diff
data8.drop(['Weight_Diff'], axis=1, inplace=True)

In [ ]:
# Weight_Diff = (Past_Weight - Weight)/Past_Weight
data8['Weight_Diff'] = (data8['Past_Weight'] - data8['Weight'])/data8['Past_Weight']

In [8]:
data8['Weight_Diff'].head(50)

0     0.026316
1     0.000000
2     0.000000
3    -0.032787
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8    -0.058824
9     0.031746
10    0.000000
11    0.088235
12   -0.064516
13    0.101695
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    0.000000
19    0.014286
20    0.037037
21   -0.036364
22    0.080000
23   -0.107143
24    0.000000
25    0.059701
26    0.000000
27   -0.036735
28    0.000000
29    0.037975
30         NaN
31    0.092857
32   -0.092593
33   -0.036364
34    0.056338
35    0.064516
36   -0.033898
37   -0.090909
38   -0.051282
39   -0.063492
40    0.021739
41   -0.092105
42    0.030769
43   -0.041667
44    0.015625
45   -0.021538
46    0.000000
47         NaN
48         NaN
49         NaN
Name: Weight_Diff, dtype: float64

In [ ]:
# For Item_1
data8['Item_1'] = data8['Weight_Diff'].apply(lambda x: 1 if x <= -3 else (0 if x > -3 else np.nan))
data8.head()

In [ ]:
# For Item_2
data8['Item_2'] = data8['HADS_D_Score'].apply(lambda x: 1 if x > 10 else (0 if x <= 10 else np.nan))
data8.head()

In [ ]:
# Define Item_3
data8['Item_3'] = data8['EXAMCLIN02'].apply(lambda x: 0 if x == 1 else (1 if x == 0 else np.nan))
data8.head()

In [ ]:
# Item 4 
def calculate_item_4(row):
    if pd.isna(row['Gender']) or pd.isna(row['Height']) or pd.isna(row['walk_time_4m']):
        return np.nan

    if row['Gender'] == 1:
        if row['Height'] <= 1.73:
            cutoff = 7
        else:
            cutoff = 6
    elif row['Gender'] == 0:
        if row['Height'] <= 1.59:
            cutoff = 7
        else:
            cutoff = 6
    
    return 1 if row['walk_time_4m'] >= cutoff else 0

data8['Item_4'] = data8.apply(calculate_item_4, axis=1)
data8.head()

In [ ]:
# Item 5
import numpy as np
def calculate_item_5(row):
    if pd.isna(row['Gender']) or pd.isna(row['BMI']) or pd.isna(row['grip']):
        return np.nan

    if row['Gender'] == 1:
        if row['BMI'] <= 24:
            cutoff = 29
        elif 24.1 <= row['BMI'] <= 26:
            cutoff = 30
        elif 24.1 <= row['BMI'] <= 28:
            cutoff = 30
        else:                       # row['BMI'] > 28
            cutoff = 32
    else:                           # Gender == 0
        if row['BMI'] <= 23:
            cutoff = 17
        elif 23.1 <= row['BMI'] <= 26:
            cutoff = 17.3
        elif 26.1 <= row['BMI'] <= 29:
            cutoff = 18
        else:                       # row['BMI'] > 29
            cutoff = 21

    return 1 if row['grip'] > cutoff else 0

data8['Item_5'] = data8.apply(calculate_item_5, axis=1)
data8.head()

In [16]:
# 'Fried_Score' is the sum of the 5 items (Item_1, Item_2, Item_3, Item_4, Item_5). If one of the items is NaN, then the 'Fried_Score' is the sum of the other items.
data8['Fried_Score'] = data8[['Item_1', 'Item_2', 'Item_3', 'Item_4', 'Item_5']].sum(axis=1)
data8.head()

,Foldername,Gender,VINCQ32DDN,VINICODEX003,FROPCOM0001,FROPCOM0005,FROPCOM0006_S1_,FROPCOM0006_S2_,FROPCOM0006_S3_,FROPCOM0006_S4_,...,HADS_D_Score,walk_time_4m,Item_1,Item_2,Item_3,Item_4,Fried_Score,Fried_State,grip,Item_5
0,DUP002BME,0,76.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,...,9,8.45,0.0,0,1.0,1.0,2.0,0,NaN,NaN
1,FRA001AMA,0,75.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,...,9,6.11,0.0,0,1.0,1.0,3.0,1,21.5,1.0
2,FRA002CTI,0,67.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,10,20.00,0.0,0,0.0,1.0,2.0,0,23.2,1.0
3,FRA003BMG,0,72.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,...,15,4.87,0.0,1,0.0,0.0,2.0,0,17.7,1.0
4,FRA004LHN,1,69.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10,3.48,0.0,0,0.0,0.0,1.0,0,40.0,1.0

In [17]:
# 'Fried_State' is 1 if 'Fried_Score' >= 3, else 0
data8['Fried_State'] = data8['Fried_Score'].apply(lambda x: 1 if x >= 3 else 0)
data8.head()

,Foldername,Gender,VINCQ32DDN,VINICODEX003,FROPCOM0001,FROPCOM0005,FROPCOM0006_S1_,FROPCOM0006_S2_,FROPCOM0006_S3_,FROPCOM0006_S4_,...,HADS_D_Score,walk_time_4m,Item_1,Item_2,Item_3,Item_4,Fried_Score,Fried_State,grip,Item_5
0,DUP002BME,0,76.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,...,9,8.45,0.0,0,1.0,1.0,2.0,0,NaN,NaN
1,FRA001AMA,0,75.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,...,9,6.11,0.0,0,1.0,1.0,3.0,1,21.5,1.0
2,FRA002CTI,0,67.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,10,20.00,0.0,0,0.0,1.0,2.0,0,23.2,1.0
3,FRA003BMG,0,72.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,...,15,4.87,0.0,1,0.0,0.0,2.0,0,17.7,1.0
4,FRA004LHN,1,69.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10,3.48,0.0,0,0.0,0.0,1.0,0,40.0,1.0

In [18]:
data8['Fried_State'].unique()

array([0, 1], dtype=int64)

In [19]:
data8['Fried_Score'].value_counts()

Fried_Score
2.0    36
1.0    32
3.0    15
0.0    11
4.0     3
Name: count, dtype: int64

In [20]:
data8['Fried_Score'].unique()

array([2., 3., 1., 0., 4.])

In [12]:
# save to excel file
data8.to_excel('P:\DATA_OCT_22\Expert_Eye\Dataset\Data\data_v10.xlsx', index=False)

In [43]:
# drop Item_1, Item_2, Item_3, Item_4, Item_5
data8.drop(['Item_1', 'Item_2', 'Item_3', 'Item_4', 'Item_5'], axis=1, inplace=True)

In [44]:
# save to excel file
data8.to_excel('P:\DATA_OCT_22\Expert_Eye\Dataset\Data\data_v10.xlsx', index=False)

In [14]:
import pandas as pd
import numpy as np

file_path = 'P:\DATA_OCT_22\Expert_Eye\Dataset\Data\data_v10.xlsx'
df = pd.read_excel(file_path)
df.head()

,Foldername,Gender,VINCQ32DDN,VINICODEX003,FROPCOM0001,FROPCOM0005,FROPCOM0006_S1_,FROPCOM0006_S2_,FROPCOM0006_S3_,FROPCOM0006_S4_,...,HADS_D_Score,grip,walk_time_4m,Item_1,Item_2,Item_3,Item_4,Item_5,Fried_Score,Fried_State
0,DUP002BME,0,76.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,...,9,NaN,8.45,0.0,0,1.0,1.0,NaN,2,0
1,FRA001AMA,0,75.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,...,9,21.5,6.11,0.0,0,1.0,1.0,1.0,3,1
2,FRA002CTI,0,67.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,10,23.2,20.00,0.0,0,0.0,1.0,1.0,2,0
3,FRA003BMG,0,72.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,...,15,17.7,4.87,0.0,1,0.0,0.0,1.0,2,0
4,FRA004LHN,1,69.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10,40.0,3.48,0.0,0,0.0,0.0,1.0,1,0

In [1]:
import pandas as pd

In [6]:
data1 = pd.read_excel('P:\DATA_OCT_22\Expert_Eye\Dataset\Questionnaire\question_v1.xlsx', sheet_name='Medecines')
data2 = pd.read_excel('P:\DATA_OCT_22\Expert_Eye\Dataset\Data\data_v11.xlsx')

data1.head()

,Foldername,FROPCOM0004[SQ001_SQ001],FROPCOM0004[SQ001_SQ002],FROPCOM0004[SQ001_SQ003],FROPCOM0004[SQ002_SQ001],FROPCOM0004[SQ002_SQ002],FROPCOM0004[SQ002_SQ003],FROPCOM0004[SQ003_SQ001],FROPCOM0004[SQ003_SQ002],FROPCOM0004[SQ003_SQ003],...,FROPCOM0004[SQ007_SQ003],FROPCOM0004[SQ008_SQ001],FROPCOM0004[SQ008_SQ002],FROPCOM0004[SQ008_SQ003],FROPCOM0004[SQ009_SQ001],FROPCOM0004[SQ009_SQ002],FROPCOM0004[SQ009_SQ003],FROPCOM0004[SQ010_SQ001],FROPCOM0004[SQ010_SQ002],FROPCOM0004[SQ010_SQ003]
0,DUP002BME,ENALAPRIL/LERCANIDIPINE,20 mg / 10 mg,1-0-0,NaN,NaN,NaN,METFORMINE,700 mg,1-0-0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FRA001AMA,SIMVASTATINE,40 mg,0-0-1,BISOPROLOL,5 mg,1-0-0,PERINDOPRIL,2 mg,1-0-0,...,1-0-0,ESIDREX,25 mg,1-0-0,NaN,NaN,NaN,NaN,NaN,NaN
2,FRA002CTI,BISOPROLOL,2.5 mg,1-0-0,KARDEGIC,160 mg,1-0-0,ATORVASTATINE,20 mg,0-0-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FRA003BMG,VICTOZA,1.8 mg,1-0-0,JANUMET,50 mg / 1000 mg,1-0-1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FRA004LHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
foldername = data1['Foldername'].unique()

In [12]:
#keep only the in data2 the foldername that are in data1
data1 = data1[data1['Foldername'].isin(foldername)]
data1.head()

,Foldername,FROPCOM0004[SQ001_SQ001],FROPCOM0004[SQ001_SQ002],FROPCOM0004[SQ001_SQ003],FROPCOM0004[SQ002_SQ001],FROPCOM0004[SQ002_SQ002],FROPCOM0004[SQ002_SQ003],FROPCOM0004[SQ003_SQ001],FROPCOM0004[SQ003_SQ002],FROPCOM0004[SQ003_SQ003],...,FROPCOM0004[SQ007_SQ003],FROPCOM0004[SQ008_SQ001],FROPCOM0004[SQ008_SQ002],FROPCOM0004[SQ008_SQ003],FROPCOM0004[SQ009_SQ001],FROPCOM0004[SQ009_SQ002],FROPCOM0004[SQ009_SQ003],FROPCOM0004[SQ010_SQ001],FROPCOM0004[SQ010_SQ002],FROPCOM0004[SQ010_SQ003]
0,DUP002BME,ENALAPRIL/LERCANIDIPINE,20 mg / 10 mg,1-0-0,NaN,NaN,NaN,METFORMINE,700 mg,1-0-0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FRA001AMA,SIMVASTATINE,40 mg,0-0-1,BISOPROLOL,5 mg,1-0-0,PERINDOPRIL,2 mg,1-0-0,...,1-0-0,ESIDREX,25 mg,1-0-0,NaN,NaN,NaN,NaN,NaN,NaN
2,FRA002CTI,BISOPROLOL,2.5 mg,1-0-0,KARDEGIC,160 mg,1-0-0,ATORVASTATINE,20 mg,0-0-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FRA003BMG,VICTOZA,1.8 mg,1-0-0,JANUMET,50 mg / 1000 mg,1-0-1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FRA004LHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 96
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Foldername                97 non-null     object
 1   FROPCOM0004[SQ001_SQ001]  77 non-null     object
 2   FROPCOM0004[SQ001_SQ002]  75 non-null     object
 3   FROPCOM0004[SQ001_SQ003]  74 non-null     object
 4   FROPCOM0004[SQ002_SQ001]  60 non-null     object
 5   FROPCOM0004[SQ002_SQ002]  53 non-null     object
 6   FROPCOM0004[SQ002_SQ003]  55 non-null     object
 7   FROPCOM0004[SQ003_SQ001]  49 non-null     object
 8   FROPCOM0004[SQ003_SQ002]  44 non-null     object
 9   FROPCOM0004[SQ003_SQ003]  46 non-null     object
 10  FROPCOM0004[SQ004_SQ001]  34 non-null     object
 11  FROPCOM0004[SQ004_SQ002]  30 non-null     object
 12  FROPCOM0004[SQ004_SQ003]  32 non-null     object
 13  FROPCOM0004[SQ005_SQ001]  23 non-null     object
 14  FROPCOM0004[SQ005_SQ002]  22 non-null     object
 15  FROPCOM0004[SQ005_SQ003]  22 non-null     object
 16  FROPCOM0004[SQ006_SQ001]  16 non-null     object
 17  FROPCOM0004[SQ006_SQ002]  15 non-null     object
 18  FROPCOM0004[SQ006_SQ003]  15 non-null     object
 19  FROPCOM0004[SQ007_SQ001]  13 non-null     object
 20  FROPCOM0004[SQ007_SQ002]  12 non-null     object
 21  FROPCOM0004[SQ007_SQ003]  13 non-null     object
 22  FROPCOM0004[SQ008_SQ001]  10 non-null     object
 23  FROPCOM0004[SQ008_SQ002]  7 non-null      object
 24  FROPCOM0004[SQ008_SQ003]  10 non-null     object
 25  FROPCOM0004[SQ009_SQ001]  6 non-null      object
 26  FROPCOM0004[SQ009_SQ002]  5 non-null      object
 27  FROPCOM0004[SQ009_SQ003]  6 non-null      object
 28  FROPCOM0004[SQ010_SQ001]  4 non-null      object
 29  FROPCOM0004[SQ010_SQ002]  4 non-null      object
 30  FROPCOM0004[SQ010_SQ003]  4 non-null      object
dtypes: object(31)
memory usage: 24.2+ KB

In [11]:
#save to excel
data1.to_excel('P:\DATA_OCT_22\Expert_Eye\Dataset\Data\medecines.xlsx', index=False)